
@{
    ViewBag.Title = "AddQuantityToProduct";
    }




<div class="col-md-9 product-model-sec">
    <div class="product-grid love-grid">
        <div class="more-product"><span> </span></div>
        <div class="product-img b-link-stripe b-animate-go thickbox">
            <img src="~/Resources/images/p1.jpg" class="img-responsive"/>@*PRODUCT IMAGE*@
        </div>

        <div class="product-info simpleCart_shelfItem">
            <div class="product-info-cust prt_name">
                <h4>5 Seater sofa set</h4>@*product name*@
                <p>ID: SR4598</p>@*productId*@
                <span class="item_price">$187.95</span>@*price*@
                <input type="text" class="item_quantity" value="1"/>
                <input type="button" class="item_add items" value="ADD">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>


</div>