

@*@model List<PVMTrading_v1.ViewModels.SearchProductViewModels>*@
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    @*<table>
                    @foreach (var product in Model)
                    { 
      
                       
                        <tr>
                            <td> @product.Product.Name</td>
                            <td>  @product.Product.Model</td>
                            <td>  @product.SellingPrice</td>
                        }

                </table>*@