@*
@using PVMTrading_v1.ViewModels
*@



@*
@model IEnumerable<PVMTrading_v1.ViewModels.SearchProductViewModels>
*@

@model List<PVMTrading_v1.Models.ProductPrice>

@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <h2>Product Price</h2>

        <table class="table table-responsive" id="productPrice">

            @foreach (var product in Model)
            {

                <tr>
                    <td> @product.Product.Name</td>
                    <td> @product.Product.Model</td>
                    <td> @product.SellingPrice</td>
                </tr>
            }

        </table>
    </div>
</div>