@model List<PVMTrading_v1.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
<div class="container-fluid">
<div class="card mb-3">

    <div class="card mb-3">
        <div class="card-header">
            <h3>List of Brand Name</h3>
        </div>

        <p>
            @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
       
                <th>
                    Brand Name
                </th>
                <th>
                    Brand Type
                </th>
    
            </tr>

            @foreach (var item in Model)
            {
                <tr>
           
                    <td>
                        @item.BrandName
                    </td>
                    <td>
                        @item.BrandType.Label
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                    </td>
                </tr>
            }


        </table>
    </div>
</div>
    </div>
</div>